.topRow, .bottomRow {
  display: flex;
  flex-direction: row;
}

.topPoint {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 6em solid brown;
}

.topPoint p {
  margin-top: -6em;
}

.bottomPoint p {
  margin-top: 5em;
}


.bottomPoint {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 6em solid brown;
}


.topPoint.possibleMove {
  border-top-color: teal;
}

.bottomPoint.possibleMove {
  border-bottom-color: teal;
}

.white {
  color: white;
}

body {
  font-size: 2em;
}
