.board {
  border: .5em solid #3E2302;
  border-radius: 2%;
  width: 26em;
}

.topRow, .bottomRow {
  display: flex;
  flex-direction: row;
  background-color: #DEB27F;
  width: 26em;
}

.topPoint {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 8em solid #774000;
  position: relative;
}

.bottomPoint {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 8em solid #774000;
  position: relative;
}


.topPoint.possibleMove {
  border-top-color: teal;
}

.bottomPoint.possibleMove {
  border-bottom-color: teal;
}

.topPoint .checkerContainerOuter {
  position: relative;
  top: -8em;
  left: -.75em;
  z-index: 1;
}
.bottomPoint .checkerContainerOuter {
  position: relative;
  bottom: -8em;;
  left: -.75em;
}
.bottomPoint .checkerContainerInner{
  position: absolute;
  bottom: 0;
}

.topBar, .bottomBar {
  background-color: #3E2302;
  width: 2em;
  height: 8em;
}

.white, .black {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5em;
}

.white {
  background-color: white;
  color: black;
}
.black {
  background-color: black;
  color: white;
}

.topPoint .white, .topPoint .black {
}
.bottomPoint .white, .buttomPoint .black {
}

body {
  font-size: 2em;
  background-color:  #9fdf9f;
}
