a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.hmenu {
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

.hmenu li a {
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
